.loadingBackground {
    display: none;
}

:root {
    --background: #7F5539;
    --text: #EDE0D4;
    --accent: #e9915b;
    --contrast: #e0a581;
    --shadow: E6CCB2;
    --altbackground: #947355;
    --altcontrast: #b39171;
}