.loadingBackground {
    display: none;
}

:root {
    --background: #EDE0D4;
    --text: #7F5539;
    --accent: #b36f46;
    --contrast: #c77b4c;
    --shadow: #382619;
    --altbackground: #EDE0D4;
    --altcontrast: #e0ccba;
}